nav.top-level-nav
{
    position: fixed;
    top: 0;
    left: -25em;
    width: 25em;
    height: 100vh;
    box-sizing: border-box;
    padding: 2rem 0;
    z-index: 5;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.45);
    overflow: auto;
    /* transition: left 1.5s cubic-bezier(1, 0, 0.17, 1); */
    transition: left 1.5s cubic-bezier(1, 0.05, 0.44, 1), width 1s cubic-bezier(1, 0.05, 0.44, 1);
}

nav.top-level-nav.active
{
    left: 0;
}

nav.top-level-nav .glass-bg-wrapper
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    z-index: -1;
}

nav.top-level-nav .glass-bg
{
    background-position: 8rem center;
    background-size: contain;
    z-index: -1;
    transition: background-position-x 1.5s cubic-bezier(1, 0.05, 0.44, 1);
}

nav.top-level-nav.active .glass-bg
{
    background-position-x: -2rem;
}

nav.top-level-nav .nav-content
{
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

nav.top-level-nav .nav-top-lane
{
    padding: 0 2rem;
}

nav.top-level-nav .nav-top-lane .toggle
{
    font-size: 1.5em;
}

nav.top-level-nav .nav-ul-wrapper
{
    margin-top: 2rem;
    max-height: 85%;
    overflow-x: visible;
    overflow-y: auto;
}

nav.top-level-nav ul
{
    list-style: none;
    font-size: 2em;
    padding-left: 2rem;
}

nav.top-level-nav .nav-ul-wrapper > ul
{
    padding-right: 2rem;
}

nav.top-level-nav li
{
    display: block;
    width: auto;
    position: relative;
}

nav.top-level-nav li a
{
    display: block;
    width: 100%;
    height: 100%;
    color: inherit;
    text-decoration: none;
}

nav.top-level-nav li.branch::before
{
    content: "\f105";
    font-family: Fontawesome;
    font-size: .8em;
    display: inline-block;
    position: absolute;
    top: .35em;
    left: -.6em;
    transition: transform .1s ease;
}

nav.top-level-nav .nav-ul-wrapper > ul > li.branch::before
{
    top: .5em;
}

nav.top-level-nav li.branch.active::before
{
    transform: rotate(90deg);
}

nav.top-level-nav ul > li.branch > a
{
    height: auto;
}

nav.top-level-nav li.branch ul
{
    overflow: hidden;
    max-height: 0;
    transition: max-height 1.5s ease;
}

nav.top-level-nav li.branch.active > ul
{
    max-height: 2em;
}

nav.top-level-nav li.branch.active > ul.big
{
    max-height: 4em;
}

nav.top-level-nav li.branch.active > ul.bigger
{
    max-height: 8em;
}

nav.top-level-nav li.branch.active > ul.biggest
{
    max-height: 12em;
}

nav.top-level-nav li.branch.active > ul.biggest-2
{
    max-height: 24em;
}

nav.top-level-nav .nav-ul-wrapper > ul > li
{
    font-size: 1.25em;
    border-bottom: 1px solid black;
}

nav.top-level-nav .nav-ul-wrapper > ul > li > a
{
    padding: .15em 0 .05em 0;
}

nav.top-level-nav .nav-ul-wrapper > ul > li ul li
{
    font-size: .4em;
}

.page-body
{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-wrapper
{
    display: flex;
    width: 100%;
    flex-grow: 1;
    padding: 2em;
    box-sizing: border-box;
}

.page-body .toggle-nav
{
    position: fixed;
    vertical-align: top;
    font-size: 2em;
    opacity: 1;
    transition: opacity .5s 1s ease;
}

nav.top-level-nav.active ~ .page-body .toggle-nav
{
    /* opacity: .4; */
    transition-delay: .7s;
}

main
{
    display: inline-block;
}

main, .footer-content
{
    margin-left: 5rem;
    /* transition: margin-left 1.5s cubic-bezier(0.68, -0.39, 0.44, 1);  */
    /* transition: margin-left 1.5s cubic-bezier(0.78, 0.03, 0.44, 1);  */
    /* transition: margin-left 1.5s ease-out; */
    transition: margin-left 1.5s cubic-bezier(1, 0.05, 0.44, 1);
}

main :first-child, main section:first-of-type
{
    margin-top: 0;
}

main :last-child
{
    margin-bottom: 0;
}

nav.top-level-nav.active ~ .page-body main, nav.top-level-nav.active ~ .page-body .footer-content
{
    margin-left: 27rem;
    /* transition-delay: .75s; */
}

footer
{
    background-color: #464646;
    width: 100%;
    padding-left: 2rem;
    box-sizing: border-box;
    margin-top: 3rem;
}


/*********************/
/* RESPONSIVE DESIGN */
/*********************/

@media screen and (max-width: 1000px)
{
    nav.top-level-nav
    {
        width: 90vw;
        left: -90vw;

        height: 110vh;
        transition: left 1.5s cubic-bezier(1, 0.05, 0.44, 1);
    }

    nav.top-level-nav.active ~ .page-body main, nav.top-level-nav.active ~ .page-body .footer-content
    {
        margin-left: 5rem;
    }
}

@media(-webkit-nintendo-switch-device-mode: -webkit-nintendo-switch-device-handheld)
{
    nav.top-level-nav
    {
        transition: left 1.5s cubic-bezier(1, 0.05, 0.44, 1);
    }
}