*
{
    padding: 0;
    margin: 0;
}

html, body
{
    height: 100%;
    position: relative;
}

body
{
    /* color: #777; */
    background-color: #262626;
    font-family: 'PT Sans', Calibri, sans-serif;
    font-size: 1em;
}

h1, h2, h3, h4
{
    font-family: Raleway, 'Courier New', Courier, serif;
    color: white;
}

h1
{
    font-size: 5em;
    margin: 3.5rem 0;
}

h2
{
    font-size: 2.5em;
    margin: 2.5rem 0 2rem 0;
}

h3
{
    font-size: 1.5em;
    margin: 2.5rem 0 1rem 0;
}

h4
{
    font-size: 1.45em;
    font-weight: 400;
    margin: 1.66rem 0 1.33rem 0;
}

section
{
    margin: 5em 0 5em 0;
}

section section
{
    margin: 2em 0 2em 0;
}

p
{
    font-size: 1.7em;
    max-width: 900px;
    margin: 2.5rem 0;
    color: lightgray;
}

label
{
    color: #666;
    font-size: 1.25em;
}

label.inline
{
    display: inline-block;
    vertical-align: middle;
    margin-left: .35rem;
}

fieldset
{
    border: none;
}

progress, .progress-like
{
    height: 1rem;
    border-radius: 1.5rem;
    background: #333;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-progress-appearance: none;
    appearance: none;
}

progress::-webkit-progress-bar
{
    background: #333;
    border-radius: 1.5rem;
}

progress::-webkit-progress-value, .progress-like .progress-like-value
{
    border-radius: 1.5rem;
}

progress::-moz-progress-bar
{
    border-radius: 1.5rem;
}

.tooltip
{
    position: relative;
    opacity: 0;
    transition: opacity .5s ease;
}

.tooltip.active, progress:hover ~ .tooltip, .progress-like:hover ~ .tooltip
{
    opacity: 1;
}

.tooltip-inner
{
    content: "fkdsjf";
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, .4);
    color: #666;
    border-radius: 5px;
    font-size: 1.1rem;
    padding: .2rem;
    vertical-align: middle;
}

.tooltip::before
{
    content: " ";
    display: inline-block;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-right-color: rgba(0, 0, 0, .4);
    border-left-width: 0;
}

.outline-circle
{
    display: inline-block;
    border-radius: 50%;
    position: relative;
    width: 1rem;
    height: 1rem;
}

.outline-circle::before, .outline-circle svg
{
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.outline-circle::before, .outline-circle::after
{
    content: " ";
}

.outline-circle svg
{
    clip-path: circle(.5rem);
    border-radius: 50%;
}

.outline-circle::before
{
    clip-path: circle(.45rem);
    border: .1rem #262626;
}

.outline-circle::after
{
    background-color: #262626;
    border-radius: 50%;
    width: .8rem;
    height: .8rem;
    position: absolute;
    top: .1rem;
    left: .1rem;
}

.outline-circle svg, .outline-circle circle
{
    animation: 3s infinite ease;
}

.outline-circle svg
{
    width: 100%;
    height: 100%;
    transform: rotate(-90deg);
}

.outline-circle circle
{
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    stroke: #262626;
    fill: none;
    stroke-width: 2rem;
    stroke-dasharray: 100, 999; /*First value: 0 - 125*/
}

.outline-circle.bold::after
{
    width: 1.5rem;
    height: 1.5rem;
    top: .5rem;
    left: .5rem;;
}

.spinner
{
    display: inline-block;
    vertical-align: middle;
}

.spinner svg
{
    animation-name: spinner-svg-spin;
}

.spinner circle
{
    animation-name: spinner-fill;
}

@keyframes spinner-fill
{
    0%
    {
        stroke-dasharray: 0, 150;
    }
    50%
    {
        stroke-dasharray: 125, 150;
    }
    100%
    {
        stroke-dasharray: 0, 150;
    }
}

@keyframes spinner-svg-spin
{
    50%
    {
        transform: rotate(-90deg);
    }
    100%
    {
        transform: rotate(270deg);
    }
}

.spinner.spinner-small
{
    width: 2.5rem;
    height: 2.5rem;
}

.spinner.spinner-small::before, .spinner.spinner-small svg
{
    clip-path: circle(1.25rem);
}

.spinner.spinner-small::before
{
    clip-path: circle(1.2rem);
    width: 2.4rem;
    height: 2.4rem;
    top: .05rem;
    left: .05rem;
}

.spinner.spinner-small:not(.bold)::after
{
    width: 1.8rem;
    height: 1.8rem;
    top: .35rem;
    left: .35rem;
}

.spinner.spinner.spinner-large
{
    width: 10rem;
    height: 10rem;
    display: block;
}

@keyframes spinner-large-fill
{
    0%
    {
        stroke-dasharray: 0, 999;
    }
    50%
    {
        stroke-dasharray: 450, 999;
    }
    100%
    {
        stroke-dasharray: 0, 999;
    }
}

.spinner.spinner-large::before, .spinner.spinner-large svg
{
    clip-path: circle(8rem);
}

.spinner.spinner-large::before
{
    width: 9.9rem;
    height: 9.9rem;
    position: absolute;
    top: .05rem;
    left: .05rem;
}

.spinner.spinner-large circle
{
    stroke-dasharray: 300, 999;
    animation-name: spinner-large-fill;
}

.spinner.spinner-large:not(.bold)::after
{
    width: 8rem;
    height: 8rem;
    top: 1rem;
    left: 1rem;
}

.loading-container
{
    display: block;
    width: 10rem;
    height: 10rem;
    margin: 1em 0;
    text-align: center;
}

.loading-container label
{
    font-size: 1.5em;
    display: block;
    margin-top: .5rem;
}

label.loading-anim::after
{
    content: "...";
    display: inline-block;
    vertical-align: bottom;
    animation: loading-label-animation 2s infinite ease-in-out;
    overflow: hidden;
    text-align: left;
}

@keyframes loading-label-animation
{
    0%
    {
        /* content: ""; */
        width: 0;
    }
    28.333%
    {
        /* content: "."; */
        width: .3em;
    }
    56.667%
    {
        /* content: ".."; */
        width: .6em;
    }
    85%
    {
        /* content: "..."; */
        width: .85em;
    }
    100%
    {
        /* content: ""; */
        width: 0;
    }
}

.progress-meter
{
    width: 5rem;
    height: 5rem;
}

.progress-meter::before
{
    clip-path: circle(2.425rem);
    width: 4.85rem;
    height: 4.85rem;
    top: .075rem;
    left: .075rem;
}

.progress-meter svg
{
    clip-path: circle(2.5rem);
    transform: rotate(111deg);
}

.progress-meter circle
{
    stroke-dasharray: 56, 150;
}

.progress-meter::after
{
    width: 3.5rem;
    height: 3.5rem;
    top: .75rem;
    left: .75rem;
}

.glass, .black, footer
{
    color: black;
}

.glass-bg
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/swept-glass/images/vertical-high-res-bg.png");
    background-attachment: fixed;
    background-size: 120%;

    opacity: .8;
    transform: scale(1.05); /*To remove the nasty black borders the blur filter leaves behind*/
    overflow: hidden;
}

.glass-bg /*Could be applied to more elements that need a strong blur*/
{
    /* filter: brightness(.75) blur(4px); */
    -webkit-filter: brightness(.75) blur(10px);
    -moz-filter: brightness(.75) blur(10px);
    -o-filter: brightness(.75) blur(10px);
    filter: brightness(.75) blur(10px);
    filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='10');
}

@media DISABLED
{
    .glass-bg::before
    {
        content: " ";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: .5;
    
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0.5+0,0.82+15,0.9+50,0.82+85,0.5+100 */
        background: -moz-linear-gradient(left, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.82) 15%, rgba(255,255,255,0.9) 50%, rgba(255,255,255,0.82) 85%, rgba(255,255,255,0.5) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.82) 15%,rgba(255,255,255,0.9) 50%,rgba(255,255,255,0.82) 85%,rgba(255,255,255,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.82) 15%,rgba(255,255,255,0.9) 50%,rgba(255,255,255,0.82) 85%,rgba(255,255,255,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#80ffffff',GradientType=1 ); /* IE6-9 */
    
        mix-blend-mode: lighten;
    }
}


/*Glassy BG*/
button::before, .button-like::before, input[type=radio]::before, input[type=radio]:active::after, input[type=radio]:checked::after, .progress-like .progress-like-value, .outline-circle::before
{
    
    /* background-image: url("/swept-glass/images/vertical-high-res-bg.png"); */
    background-image: url("/swept-glass/images/vertical-outline-light-blur.png");
    background-attachment: fixed;
    background-position: center center;

    /* -webkit-filter: brightness(.75) blur(2px);
    -moz-filter: brightness(.75) blur(2px);
    -o-filter: brightness(.75) blur(2px);
    filter: brightness(.75) blur(2px);
    filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='2'); */
}

/*For some reason vendor-specific selectors can't be combined so I have to copy these rulesets*/
progress::-webkit-progress-value
{
    background-image: url("/swept-glass/images/vertical-outline-light-blur.png");
    background-attachment: fixed;
    background-position: center center;
}

progress::-moz-progress-bar
{
    background-image: url("/swept-glass/images/vertical-outline-light-blur.png");
    background-attachment: fixed;
    background-position: center center;
}


/*Standard form control shadow*/
button.primary-button, .button-like.primary-button, button:hover, .button-like:hover, input[type=radio], .outline-circle
{
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
    transition: box-shadow .5s ease;
}

/*Standard form control hover shadow*/
button:hover, .button-like:hover, input[type=radio]:hover, .button-group-member:hover input[type=radio], .progress-like .progress-like-value, .outline-circle:hover
{
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.8);
}

/*Again, special treatment for our special snowflakes*/
progress::-webkit-progress-value
{
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
    transition: box-shadow .5s ease;
}

progress::-webkit-progress-value:hover, .progress-like .progress-like-value:hover
{
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.8);
}

progress::-moz-progress-bar
{
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
    transition: box-shadow .5s ease;
}

progress::-moz-progress-bar:hover
{
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.8);
}

/*Inset shadow*/
input[type=radio]::after, .outline-circle::after
{
    box-shadow: inset 0 0 10px rgba(0, 0, 0, .4);
    transition: box-shadow .5s ease;
}

input[type=radio]:hover::after, .button-group-member:hover input[type=radio]::after, .outline-circle:hover::after
{
    /* box-shadow: inset 0 0 20px 2px rgba(0, 0, 0, 0.8); */
    box-shadow: inset 0 0 15px 0px rgba(0, 0, 0, 0.8);
}


.toggle
{
    cursor: pointer;
}

.arial-icon
{
    font-family: Arial, sans-serif;
    font-size: 2.5em;
    font-weight: 100;
}

.centered
{
    text-align: center;
}

.centered > *
{
    margin-left: auto;
    margin-right: auto;
}


/***********************/
/*  BROWSER SPECIFICS  */
/***********************/

@keyframes spinner-svg-spin-ms
{
    0%
    {
        transform: rotate(-90deg);
    }
    100%
    {
        transform: rotate(270deg);
    }
}

@supports (-ms-ime-align: auto) /*Edge*/
{
    .outline-circle::before
    {
        box-shadow: inset 0 0 0 1px #262626;
    }

    .spinner svg
    {
        animation-name: spinner-svg-spin-ms;
        animation-timing-function: linear;
        animation-duration: .75s;
    }

    .spinner.spinner-large svg
    {
        animation-duration: 2s;
    }

    .outline-circle circle
    {
        animation: none!important;
    }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) /*IE*/
{
    .outline-circle::before
    {
        box-shadow: inset 0 0 0 1px #262626;
    }

    .outline-circle svg
    {
        animation-name: spinner-svg-spin-ms;
        animation-timing-function: linear;
        animation-duration: .75s;
    }

    .outline-circle circle
    {
        animation: none!important;
    }

    .glass-bg
    {
        transform: none;
    }
}


/*********************/
/* RESPONSIVE DESIGN */
/*********************/

@media screen and (max-width: 1000px)
{
    body
    {
        font-size: 1.2em;
    }

    .toggle-nav, .nav-top-lane .arial-icon
    {
        font-size: 3em!important;
    }

    .glass-bg
    {
        opacity: .95;
        -webkit-filter: none;
        -moz-filter: none;
        -ms-filter: none;
        -o-filter: none;
        filter: none;
        background-image: url("/swept-glass/images/vertical-blurred-bg-darkened.png");
        background-size: cover!important;
    }
}

@media screen and (max-width: 1000px) and (orientation: landscape)
{
    body
    {
        font-size: .8em;
    }

    .nav-top-lane .arial-icon
    {
        font-size: 2.5em!important;
    }
}